/*Colors
Rust: #C65228
Grey: #424143
*/


/*--Basics and general--*/

* {
  font-family: 'Nunito Sans';
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 2.2em;
  margin: 30px 0;
}
h2 {
  font-size: 1.6em;
  margin: 25px 0;
}
h3 {
  font-size: 1.2em;
  margin: 25px 0;
}
h4 {
  font-size: 1em;
  margin: 20px 0;
}

/*--Header and navigation--*/

header {
  width: 170px;
  box-sizing: border-box;
  background-color: #fff;
  margin: -10px 0 0 10px;
  padding: 20px 20px 10px 20px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.4);
  transition: width 0.2s ease-in-out;
	will-change: width;
	transform: translateZ(0);
  z-index: 100;
  position: fixed;
  top: 0;
}

header.menu-open {
  width: 300px;
}

nav#main-nav {

}

#menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  align-self: center;
  width: 65px;
  height: 65px;
  background-image: url(../img/radig-3-rust.svg);
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

div#menu-items {
  max-height: 0;
  opacity: 0;
  margin: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out, max-height 0.20s ease-in-out, margin 0.2s ease-in-out;
	will-change: opacity, max-height, margin;
	transform: translateZ(0);
}

#menu-items.menu-open {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  margin: 25px 0;
}

/*menu icon*/

#menu-symb {
  align-self: center;
  float: right;
  width: 35px;
  height: 25px;
  cursor: pointer;
  position: relative;
}

#menu-symb span.bar {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 1px;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menu-symb span.segment1,
#menu-symb span.segment2,
#menu-symb span.segment3 {
  border-radius: 1px;
  background-color: #C65228;
  display: inline-block;
  margin: 2px;
  float: left;
  margin: 1px;
  box-sizing: border-box;
  height: 100%;
}

#menu-symb span.segment1 {
  width: calc(20% - 2px);
}
#menu-symb span.segment2 {
  width: calc(60% - 2px);
}
#menu-symb span.segment3 {
  width: calc(50% - 2px);
}

#menu-symb span.bar:nth-child(1) {
  top: 0px;
}

#menu-symb span.bar:nth-child(2) {
  top: 7px;
}

#menu-symb span.bar:nth-child(3) {
  top: 14px;
}

#menu-symb.open span.bar:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#menu-symb.open span.bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #C65228;
}

#menu-symb.open span.bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
  background-color: #C65228;
}

#menu-symb.open span.bar:nth-child(3) span,
#menu-symb.open span.bar:nth-child(2) span {
  opacity: 0;
}

#menu-symb.open span.bar:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

/*Menu items*/

li.menu-item {
  margin: 0;
  transition: margin 0.2s ease-in-out;
	will-change: margin;
	transform: translateZ(0);
}

#menu-items.menu-open li.menu-item {
  margin: 10px 0;
}

li.menu-item a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.lang-items {
  display: flex;
  justify-content: flex-end;
}



/*--Sections--*/

.topsection {
  padding: 150px 25px 80px 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

section#om,
section#article,
footer {
  padding: 25px;
}

/*--Sida: Hem--*/

section#home_1 {

}



/*--Sida: Murspisar--*/




/*--Sida: Galleri--*/





/*--Sida: Välja eldstad--*/





/*--Sida: Kontakt--*/




/*--Sektion: Om--*/


section#om {
  background-image: url(../img/om_bg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

#om .om-ikoner {
  display: flex;
  justify-content: space-between;
}
#om .om-ikoner p {

}


/*--Footer--*/

footer {
  background-color: #424143;
}

footer h2 {
  color: #fff;
  /*sized as an h3, kept as h2 for hierarchy*/
  font-size: 1.2em;
  margin: 25px 0;
}


/*=====================================640PX========================================*/

@media (min-width: 640px) {

  /*--Basics and general--*/





  /*--Header and navigation--*/




  /*--Sida: Murspisar--*/




  /*--Sida: Galleri--*/





  /*--Sida: Välja eldstad--*/





  /*--Sida: Kontakt--*/





  /*--Footer--*/





}



/*=====================================960PX========================================*/

@media (min-width: 960px) {

  /*--Basics and general--*/





  /*--Header and navigation--*/




  /*--Sida: Murspisar--*/




  /*--Sida: Galleri--*/





  /*--Sida: Välja eldstad--*/





  /*--Sida: Kontakt--*/





    /*--Footer--*/






}



/*=====================================1200PX========================================*/

@media (min-width: 1200px) {


  /*--Basics and general--*/





  /*--Header and navigation--*/




  /*--Sida: Murspisar--*/




  /*--Sida: Galleri--*/





  /*--Sida: Välja eldstad--*/





  /*--Sida: Kontakt--*/





    /*--Footer--*/






}
