/*Colors
Rust: #C65228
Grey: #424143
*/


/*--Basics and general--*/

* {
  font-family: 'Nunito Sans';
}

body {
  margin: 0;
  overflow-x: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 2.2em;
  margin: 30px 0;
}
h2 {
  font-size: 1.6em;
  margin: 25px 0;
}
h3 {
  font-size: 1.2em;
  margin: 25px 0;
}
h4 {
  font-size: 1em;
  margin: 20px 0;
}

a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

a:visited {
  color: #a06b58;
}

/*Buttons*/

button,
input[type='submit'] {
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 2px;
}

button:focus,
input[type='submit']:focus {
  outline: rgba(65, 67, 66, 0.45) solid 2px;
}

.btn_container {
  width: 100%;
  margin-top: 45px;
}

input[type='submit'] {
  background-color: #C65228;
  font-size: 1.2em;
  color: #fff;
}

.btn_1 {
  width: 100%;
  background-color: #fff;
  font-size: 1.2em;
  color: #C65228;
}

/*--Header and navigation--*/

header {
  width: 170px;
  box-sizing: border-box;
  background-color: #fff;
  margin: -10px 0 0 10px;
  padding: 20px 20px 10px 20px;
  box-shadow: 2px 3px 10px rgba(0,0,0,0.4);
  transition: width 0.2s ease-in-out;
	will-change: width;
	transform: translateZ(0);
  z-index: 100;
  position: fixed;
  top: 0;
  border-radius: 0 0 2px 2px;
}

header.menu-open {
  width: 300px;
}

nav#main-nav {

}

#menu-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#logo {
  align-self: center;
  width: 65px;
  height: 65px;
  background-image: url(../img/radig-3-rust.svg);
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

div#menu-items {
  max-height: 0;
  opacity: 0;
  margin: 0;
  visibility: hidden;
  transition: opacity 0.35s ease-in-out, max-height 0.20s ease-in-out, margin 0.2s ease-in-out;
	will-change: opacity, max-height, margin;
	transform: translateZ(0);
}

#menu-items.menu-open {
  visibility: visible;
  max-height: 500px;
  opacity: 1;
  margin: 25px 0;
}

/*menu icon*/

#menu-symb {
  align-self: center;
  float: right;
  width: 35px;
  height: 25px;
  cursor: pointer;
  position: relative;
  -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

#menu-symb:focus {
  outline: rgba(65, 67, 66, 0.45) solid 1px;
}

#menu-symb span.bar {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  border-radius: 1px;
  left: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  transition: opacity 0.30s ease-in-out, transform 0.30s ease-in-out;
	will-change: opacity, transform;
}

#menu-symb span.segment1,
#menu-symb span.segment2,
#menu-symb span.segment3 {
  border-radius: 1px;
  background-color: #C65228;
  display: inline-block;
  margin: 2px;
  float: left;
  margin: 1px;
  box-sizing: border-box;
  height: 100%;
}

#menu-symb span.segment1 {
  width: calc(20% - 2px);
}
#menu-symb span.segment2 {
  width: calc(60% - 2px);
}
#menu-symb span.segment3 {
  width: calc(50% - 2px);
}

#menu-symb span.bar:nth-child(1) {
  top: 0px;
}

#menu-symb span.bar:nth-child(2) {
  top: 7px;
}

#menu-symb span.bar:nth-child(3) {
  top: 14px;
}

#menu-symb.open span.bar:nth-child(1) {
  top: 14px;
  width: 0%;
  left: 50%;
}

#menu-symb.open span.bar:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #C65228;
}

#menu-symb.open span.bar:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 7px;
  background-color: #C65228;
}

#menu-symb.open span.bar:nth-child(3) span,
#menu-symb.open span.bar:nth-child(2) span {
  opacity: 0;
}

#menu-symb.open span.bar:nth-child(4) {
  top: 14px;
  width: 0%;
  left: 50%;
}

/*Menu items*/

li.menu-item {
  margin: 0;
  transition: margin 0.2s ease-in-out;
	will-change: margin;
	transform: translateZ(0);
}

#menu-items.menu-open li.menu-item {
  margin: 10px 0;
}

li.menu-item a {
  text-decoration: none;
  font-size: 20px;
  color: #000;
}

.lang-items {
  display: flex;
  justify-content: flex-end;
}
button.lang-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30px;
  width: 38px;
  padding: 0;
}
.lang-item.sv {
  background-image: url(../img/swe.png);
  margin-right: 10px;
}
.lang-item.en {
  background-image: url(../img/gb.png);
}



/*--Sections--*/

section {
  /* box-shadow: 0px 2px 30px rgba(0,0,0,0.5); */
}

.topsection {
  padding: 100px 25px 80px 25px;
  background-repeat: no-repeat;
  background-size: cover;
}

section#om {
  padding: 95px 25px;
}

footer{
  padding: 30px 25px 60px 25px;
}

section#single_1,
section#murspisar_2,
section#kontakt_2 {
  padding: 0px 25px 60px 25px;
}

section#valjaeldstad_1,
section#murspisar_1,
section#kontakt_1 {
  padding-bottom: 45px;
}
section#valjaeldstad_2 {
  padding-bottom: 60px;
}

/*--Sida: Hem--*/

section#home_1 {
  color: #fff;
  padding: 150px 25px 80px 25px;
}

section#home_2 {
  position: relative;

}

section#home_2 .btn_container {
  position: absolute;
  bottom: 35px;
  margin: 0 25px;
}
section#home_2 .btn_1 {
  width: calc(100% - 50px);
}

/*Slider*/

.ms-bullets {
  top: 20px!important;
}

.ms-bullet {
  width: 12px!important;
  height: 12px!important;
  background-size: 100%!important;
  border: none!important;
  box-shadow: 0px 2px 30px rgba(0,0,0,0.5);
}

.ms-bullet-selected {
  background-color: #C65228!important;
}

.ms-nav-next,
.ms-nav-prev {
  border: none!important;
  background-color: #424143!important;
  width: 35px!important;
  height: 35px!important;
}

.ms-nav-next {
  background-position: -90px -108px!important;
}
.ms-nav-prev {
  background-position: -94px -31px!important;
}



/*--Sida: Murspisar--*/

#murspisar_2 a {
  text-decoration: none;
  color: #000;
}

div.murspis {
  width: 100%;
  margin-bottom: 45px;
}
.murspis img {
  width: 100%;
}
.murspis h2 {
  margin: 5px 0;
}
.murspis p {
  margin: 5px 0;
}


/*--Sida: Murspis single--*/

.crop {
  height: 240px;
  overflow: hidden;
}
.crop img.single_hero {
  width: 100%;
}

img.single-ikon {
  width: 50px;
  height: 50px;
  margin-bottom: 5px;
}

#single-icons {
  margin: 30px 5px 0 5px;
}

#single-icons ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#single-icons li {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 30%;
  box-sizing: border-box;
  font-size: 0.8em;
}

#single-postlinks {
  padding: 60px 25px;
  display: flex;
  justify-content: space-between;
}

/*--Sida: Galleri--*/


/*Filters*/

.filters {
  overflow: hidden;
  width: 100%;
}

.filter-button {
  height: 45px;
  font-size: 18px;
  line-height: 20px;
  width: calc( 50% - 15px );
  margin: 5px;
}

.galleripost.filter-show {
  display: block;
}
.galleripost.filter-hide {
  display: none;
}

.filter-button.active {
  background-color: #C65228;
}

.filter-button:focus {
  outline: none;
}


/*Gallery lightbox*/

section#galleri_2 {

}

.thumbnails {
  overflow: hidden;
}

.galleripost {
  width: 50%;
  float: left;
}

.galleribild {
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.galleribild-lb {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* The Modal (background) */
.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.lightbox.open {
  display: block;
}

.galleripost-lb.visible {
  width: 100%;
  display: block;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.closelb {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.closelb:hover,
.closelb:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

.galleripost-lb {
  display: none;
}



/*--Sida: V채lja eldstad--*/

section#valjaeldstad_1,
section#valjaeldstad_2 {
  box-shadow: none;
}

div.artikel {
  padding: 60px 25px 45px 25px;
}
img#valjaeldstad_top,
section#valjaeldstad_2 img {
  width: 100%;
}
#to-top {
  text-align: center;
  margin-bottom: 60px;
  display: block;
  color: #424341;
}
#to-top:visited {
  color: #424341;
}


/*--Sida: Kontakt--*/

section#kontakt_1 {

}
#kontakt_1 .kontakt-ikoner {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
#tel,
#email,
#adress {
  width: 30%;
  margin: 0;
}
.kontakt-ikoner img {
  width: 65px;
  display: block;
}

section#kontakt_2 {
  box-shadow: none;
}

/*form*/

.wpcf7 {

}
.wpcf7 input,
.wpcf7 textarea {
  width: 100%;
}

/*--Sektion: Om--*/


section#om {
  background-color: rgba(198, 82, 40, 0.65);
}

#om h2 {
  color: #fff;
  display: inline;
}

#om p {
  color: #fff;
  display: inline;
}

#om .om-ikoner {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
#om .om-ikoner p {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#om .om-ikoner img {
  width: 65px;
  height: 65px;
}
.om_image {
  background-image: url(../img/om_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


/*--Footer--*/

footer {
  background-color: #424143;
  color: #fff;
  box-shadow: 0px -2px 30px rgba(0,0,0,0.3);
}

footer a {
  color: #fff;
}


footer h2 {
  color: #fff;
  /*sized as an h3, kept as h2 for hierarchy*/
  font-size: 1.2em;
  margin: 20px 0;
}

#footer-1,
#footer-2 {
  margin-bottom: 45px;
}

#footer-1 p {
  display: flex;
  align-items: center;
}

img.kontakt-ikon {
  margin-right: 20px;
}

#footer-3 p {
  margin: 0;
}
.link-desc {
  display: flex;
  align-items: center;
}
.link-desc img {
  margin-right: 10px;
}

#foot {
  height: 60px;
  padding: 25px;
  background-color: #222;
  color: #424143;
}

#foot a:visited {
  color: #424143;
}

/*=====================================640PX========================================*/

@media (min-width: 640px) {

  /*--Basics and general--*/




  /*Buttons*/

  button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }

  .btn_container {
    width: 100%;
    margin-top: 45px;
  }

  .btn_1 {
    width: 100%;
    background-color: #fff;
    font-size: 1.2em;
  }
.btn_1:hover {
  background-color: transparent;
  border: 1px solid #fff;
}




  /*--Header and navigation--*/




  /*--Sida: Murspisar--*/




  /*--Sida: Galleri--*/





  /*--Sida: V채lja eldstad--*/





  /*--Sida: Kontakt--*/





  /*--Footer--*/





}



/*=====================================960PX========================================*/

@media (min-width: 960px) {

  /*--Basics and general--*/





  /*--Header and navigation--*/




  /*--Sida: Murspisar--*/




  /*--Sida: Galleri--*/





  /*--Sida: V채lja eldstad--*/





  /*--Sida: Kontakt--*/





    /*--Footer--*/






}



/*=====================================1200PX========================================*/

@media (min-width: 1200px) {


  /*--Basics and general--*/





  /*--Header and navigation--*/




  /*--Sida: Murspisar--*/




  /*--Sida: Galleri--*/





  /*--Sida: V채lja eldstad--*/





  /*--Sida: Kontakt--*/





    /*--Footer--*/






}
